out/

# Cert
security/creatorrom_ota.x509.pem
security/creatorrom_ota.pk8
security/creatorrom_platform.x509.pem
security/creatorrom_platform.pk8

# MacOS files
*.DS_Store

# Windows files
*.ini

# WSL files
*.Identifier

#
# We don't want to ignore the following even if they are dot-files
#
!.gitattributes
!.gitignore
!.gitmodules
